.admin-container {
    position: relative;
    padding: 3rem;
    background-color:rgba(240, 255, 255, 0.926);
}

.logout-btn{
    position: absolute;
    top: 20px;
    right: 20px;
    background: var(--btn-primario);
    color: white;
    padding: 10px 18px;
    border-radius: 6px;
    font-weight: 600;
}

.logout-btn:hover {
    background: var(--btn-primario-hover);
}

.button-pop-up{
    border-radius: 6px;
    padding: 9px 14px;
    background: var(--btn-formulario);
    color: white;
    font-weight: 600;
}

.button-pop-up:hover {
    background: var(--btn-formulario-hover);
}

.admin-container table {
    width: 100%;
    
    margin-top: 1rem;
    border-collapse: collapse;
    background: white;
    border-radius: 1rem;
    box-shadow: 0 1rem 2rem #27272714;
}

.table-container {
    height: 90vh;
    overflow-y: auto;
}

.admin-container th,
.admin-container td {
    padding: 1rem;
    border-bottom: 1px solid #828282;
    text-align: center;
    vertical-align: middle;
}

.admin-container th {
    background: #ffe6e6;
    font-weight: 700;
    position: sticky;
    top: 0;
    z-index: 1;
}

.admin-container tr:last-child td {
    border-bottom: 0;
}

.admin-container tbody tr:hover {
    background: #f9fafb;
}

.admin-container table button{
    border-radius: 1rem;
    padding: 0.8rem;
    font-weight: 600;
}

.admin-container table button:first-child{
    margin-right: 0.5rem;
    background-color: var(--btn-editar);
}

.admin-container table button:first-child:hover{
    background-color: var(--btn-editar-hover);
}

.admin-container table button:last-child{
    background-color: var(--btn-borrar);
    color: white;
}

.admin-container table button:last-child:hover{
    background-color: var(--btn-borrar);
}
