h2 {
    text-align: center;
}

.admin-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2rem;
}

.admin-nav button {
    background-color: var(--btn-secundario);
    color: white;
    padding: 0.8rem;
    border-radius: 0.5rem;
    font-size: 1rem;
}

.admin-nav button:hover {
    background: var(--btn-primario);
}

.admin-nav .activo{
    background-color: var(--btn-primario);
    color: white;
    padding: 0.8rem;
    border-radius: 0.5rem;
    font-size: 1rem;
}